a.disabled {
  cursor: default;
  background: #ddd;
  text-shadow: none;
  color: #999;
  box-shadow: none;
}
a.disabled:hover,
a.disabled:focus,
a.disabled:active {
  color: #999;
  box-shadow: none;
}
.field-value-copier {
  position: relative;
}
